* {
	margin: 0;
	padding: 0;
}

.topbanner {
	height: 50px;
	background-repeat: repeat-x;
	background-image: url("./res/rancidbannerbg.png");
}

.topbanner img {
	margin: auto;
	display: block;
	height: 100%;
	width: 20%;
}
